Accés a dades(Maite)/UD02/NetbeansProjects/Practica1 Leer BookStore/UD02-P1Practica1LeerBookstore/bookstore.dtd

<!ELEMENT bookstore (book+)>
<!ELEMENT book (title, authors, price)>
<!ATTLIST book
          cathegory CDATA #REQUIRED
          cover CDATA #IMPLIED>
<!ELEMENT title (#PCDATA)>
<!ATTLIST title
          lang CDATA #REQUIRED>
<!ELEMENT authors (author+)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT price (#PCDATA)>
